body {
  background-color: #FFFFED; /* warna kuning cerah */
    font-family: Arial, Sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */
  color: #006400; /* Warna teks utama (Biru Gelap) */
}  
.kartu-profil {
    width: 300px;
    margin: 50px auto; /* 50px Jarak atas/bawah, auto menengahkan kiri/kanan */
    padding: 20px;
    baground-color: white;
    border-radius: 15px; /* Membuat sudut menjadi melengkung */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*Efek bayangan */
}
.kartu-profil img {
    width: 200px; 
    border-radius: 50%; /* Trick untuk membuat gambar persegi menjadi lingkaran sempurna */
}
.kartu-profil { text-align: center; }
 /*Menengahkan semua teks di dalam kartu */
}
